@model Application.ViewModels.GenreViewModels.GenreViewModel

@{
    ViewData["Title"] = $"Delete genre {Model.Name}";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-danger">
                <h4 class="mt-1 mb-1 text-white">Delete genre @Model.Name</h4>
            </div>

            <div class="card-body h-auto">
                <p>Are you sure you want to remove the genre <strong>@Model.Name</strong>?</p>

                <form method="post" asp-controller="Genre" asp-action="Delete">
                    <input type="hidden" asp-for="Id" />

                    <div class="float-end">
                        <a asp-controller="Site" asp-action="Genres" class="btn btn-outline-warning">Cancel</a>
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>