html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    position: relative;
    cursor: pointer;
}

.image-container::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../icons/play.svg");
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: center;
    width: 75px;
    height: 75px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.image-container:hover::after {
    opacity: 1;
}

.read-more-text {
    height: 68px;
    overflow: hidden;
    margin-bottom: 0;
}

.show-content {
    height: auto;
}